*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    height: fit-content;
    margin: 10px;
    border: 2px solid red;
    border-radius: 5px;
}
h1{
    color: black;
}
nav{ 
    margin: 15px;
    padding: 8px;
    font-size: 30px;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}   
tr{
    font-size: 20px;
    font-weight: 100;
    td{
        font-style: italic;
    }
}
td,th{
    padding: 20px;
}
div{
    margin: 0px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color: red;
}
